---
import Layout from '../layouts/Layout.astro';
import { FlowerCmp } from '../components/Flower';
---

<Layout title="今日の花言葉と犬">
	<main>
		<div class="wrapper">
			<FlowerCmp client:only="solid-js" />
		</div>
	</main>
</Layout>
