---
import Layout from '../layouts/Layout.astro';
import { WhetherCmp } from '../components/Whether';
---

<Layout title="あの日の東京の雨量は？">
	<main>
		<div class="wrapper">
			<WhetherCmp client:only="solid-js" />
		</div>
	</main>
</Layout>
