---
import Layout from '../layouts/Layout.astro';
import YojijyukugoCmp from '../components/Yojijyukugo.astro';
---

<Layout title="四字熟語？">
	<main>
		<div class="wrapper">
      <small>「野菜生活」が出たら大当たり！</small>
			<YojijyukugoCmp />
		</div>
	</main>
</Layout>
